DISCORD_TOKEN_MTQ4NTYxNzUzODkzNDI0NzQ0NQ.GQXB_F.Z0AZmRt82PfbSisZ8kiSI1BME42YB3sg3_KRwo
ANTHROPIC_API_KEY_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
PEXELS_API_KEY_6Iglq2APdCCtcYd2TsQb1JoNreRUsvdMk2flKFcw19KycRY7pPi7IS6T
ELEVENLABS_API_KEY_sk_ac417b75a50a9aed0d8c42a02f4730eaf17ebc96f70f8707
